.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: #ffd165;
    color: black;
    border-radius: 1rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    padding: 0.8rem;
    min-width: 8rem;
    max-width: 8rem;
    width: 100%;
    z-index: 1001;
    text-align: left;
  }
  
  .workoutOption:hover {
    background-color: #f0c36d;
    cursor: pointer;

  }