body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #fff3e0; /* Soft yellow */
    color: #6d4c41; /* Warm earth tone */
    max-width: 420px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

   /* Header styles */
h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #ffb300; /* Bright yellow */
    margin-bottom: 20px;
  }
  
  /* Footer styles */
  .footer {
    margin-top: 50px;
    font-size: 1rem;
    color: #6d4c41;
  }