.card {
    margin-left: -1rem;
    background-color: #ffd165;
    color: black; /* gray-800 */
    border-radius: 1rem; /* rounded-2xl */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    padding: 1rem;
    min-width: 18rem; /* min-w-md */
    max-width: 28rem; /* max-w-md */
    width: 95%;
    transform: translateX(2.5%);
    text-align: left;
  }